Repository GalaxeTV/GalaxeSMP, pull requests merged in 2023-11, with the labels that each got.

#74 Rewrite
  .gitattributes
  .github/workflows/code_quality.yml
  .github/workflows/gradle.yml
  .gitignore
  README.md
  build.gradle
  docker-compose.yml
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  qodana.yaml
  settings.gradle
  src/main/java/tv/galaxe/galaxesmp/GalaxeSMP.java
  src/main/java/tv/galaxe/galaxesmp/advancements/KillAdvancement.java
  src/main/java/tv/galaxe/galaxesmp/commands/InvisibleItemFramesCmd.java
  src/main/java/tv/galaxe/galaxesmp/commands/TwitchCmd.java
  src/main/java/tv/galaxe/galaxesmp/events/SilkTouchAmethyst.java
  src/main/java/tv/galaxe/galaxesmp/util/TwitchIntegration.java
  src/main/java/tv/galaxe/smp/Core.java
  src/main/java/tv/galaxe/smp/cmd/HelpGUI.java
  src/main/java/tv/galaxe/smp/cmd/InvisibleItemFrame.java
  src/main/java/tv/galaxe/smp/event/SilkTouchAmethyst.java
  src/main/java/tv/galaxe/smp/event/StaffKill.java
  src/main/resources/config.yml
  src/main/resources/plugin.yml
Labels: bug, enhancement, dependencies, java, bug:twitch, bug:killadvancement

#75 Add deploy workflow, update other workflows
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/deploy.yml
  .github/workflows/gradle-validation.yml
  .github/workflows/gradle.yml
Labels: enhancement, github_actions

#76 Feature/pronouns
  README.md
  build.gradle
  docker-compose.yml
  src/main/java/tv/galaxe/smp/Core.java
  src/main/java/tv/galaxe/smp/cmd/HelpGUI.java
  src/main/java/tv/galaxe/smp/cmd/InvisibleItemFrame.java
  src/main/java/tv/galaxe/smp/cmd/Pronouns.java
  src/main/resources/config.yml
  src/main/resources/plugin.yml
Labels: enhancement

#78 Update SFTP deployment job
  .github/workflows/gradle.yml
Labels: github_actions

#80 Help Menu
  src/main/java/tv/galaxe/smp/Core.java
  src/main/java/tv/galaxe/smp/cmd/HelpCommand.java
  src/main/java/tv/galaxe/smp/cmd/HelpGUI.java
  src/main/resources/plugin.yml
Labels: documentation, enhancement, java
